.container-navbar {
    margin-left: 10rem;
    margin-right: 10rem;
}

.nav-item {
    margin-right: 0.5rem;
}

.nav-left-mail, .nav-left-phone {
    font-size: small;
}

.img-kematian-ibu {
    width: 30%;
}
.content-journal {
    margin: 2rem 5rem 5rem 5rem;
}
.journal-wrapper {
    border: 1px solid gainsboro;
    padding: 1.5rem 2rem 1rem 2rem;
    border-radius: 20px;
    margin-bottom: 20px;
}
.journal-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.journal-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.journal-subtitle {
    font-weight: bold;
}
.journal-gsi
ol {
    padding-left: 2.5rem;
}

.container-footer 
p.lead{
    color: gray;
}

